html {
    font-family: 'Archivo', sans-serif;
    font-size: 12px; /* standaard font-size voor de hele htnml */
}

body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}


/* MOBILE VERSION */
#menu-first {
    width: 100%;
    background-color: #EBD84C;
}

#menu-first > .menu-button {
    width: 100%;
    background-color: #EBD84C;
    text-align: left;
    font-size: 2rem;
    padding: 2rem;
    cursor: pointer;
    color: white;
}

#menu-first > #menu-top {
    list-style-type: none;
    height: 0px;
    overflow: hidden;
    background-color: #EBD84C;
    margin: 0;
    font-size: 1.5rem;
    position: relative;
    top: 0;
}

#menu-first > #menu-top > li.icons-top {
    margin: 1.5rem 0;
}

#menu-first > #menu-top > li.icons-social-media {
    display: inline-block;
    margin: 1.5rem 0;
}

#menu-first > #menu-top img.icons-top, #menu-first > #menu-top img.icons-social-media {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
}



/* DESKTOP VERSION */
@media (min-width: 768px) {
    /* FIRST MENU */
    #menu-first > .menu-button {
        display: none;
    }

    #menu-first > #menu-top {
        text-align: right;
        font-size: 1.2rem;
        height: auto !important;
        right: 10%;
    }

    #menu-first > #menu-top > li.icons-top {
        position: relative;
        top: 0;
        right: 5em;
        margin: 1rem;
        display: flex;
        justify-content: space-around;
    }

    #menu-first > #menu-top > li.icons-social-media {
        margin: 1rem 0;

    }

    #menu-first > #menu-top > li.icons-top, #menu-first > #menu-top > li.icons-social-media {
        display: inline-block;
    }

    #menu-first > #menu-top img.icons-top, #menu-first > #menu-top img.icons-social-media {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0.4rem;
    }
    /* /FIRST MENU */

    /* SECOND MENU */
    #menu-second > .menu-button {
        display: none;
    }
    
    #menu-second {
        overflow: hidden;
        background-color: white;
    }

    #menu-second > ul#menu > li > a {
        display: block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    #menu-second > ul#menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
    }

    #menu-second > ul#menu > li {
        float: left;
    }

    #menu-second > ul#menu > li > a, .dropbtn {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* dropdown */
    #menu-second > ul#menu > li > a:hover, .dropdown:hover .dropbtn {
        background-color: lightgrey;
    }

    #menu-second > ul#menu > li.dropdown {
        display: inline-block;
    }

    #menu-second > ul#menu > li.dropdown > div.dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        z-index: 1;
    }

    #menu-second > ul#menu > li.dropdown > div.dropdown-content > a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 12px;
    }

    #menu-second > ul#menu > li.dropdown > div.dropdown-content > a:hover {
        background-color: #f1f1f1;
        display: block;
    }
    

    /* /dropdown */
    /* /SECOND MENU */

    #header > .logo {
        width: 35rem;
        height: auto;
    }
}