html {
    font-family: 'Archivo', sans-serif;
    font-size: 12px; /* standaard font-size voor de hele htnml */
}

/* @media (min-width: 678px) {
    hier zal uiteindelijk de styling komen voor groter dan 678px
} */


/*
    mobile-first: eerst de website maken voor op mobiele grootte
    in de media query komt dan alle styling voor als het scherm groter is dan voor op de mobiel
*/

body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu .main-menu {
    display: none;
}

#tm:checked + .main-menu {
    display: block;
}

#menu input[type="checkbox"] {
    display: none;
}

/* #menu li, #toggle-menu {
    border-style: solid;
    border-color: rgba(0, 0, 0, .05);
} */

/* #menu li, #toggle-menu {
    border-width: 0 0 1px;
} */

#menu > ul > li > a {
    text-decoration: none;
    color: white;
}

#menu > ul > li > img, #menu > ul > li > a > img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

#menu li, #toggle-menu, #menu li {
    position: relative;
    display: block;
    color: black;
}

#menu, #toggle-menu {
    background-color: #EBD84C;
}

#toggle-menu, #menu li {
    padding: 15px;
}

#menu label.drop-icon {
    font-size: 2rem;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #EDDD5E;
    color: white;
    cursor: pointer;
}

#menu label.drop-icon:hover {
    background-color: #EDDD5E;
}

#menu .drop-icon {
    line-height: 1;
}

@media (min-width: 678px) {
    .main-menu {
        background-color: #EBD84C;
        height: 4em;
    }

    #menu .main-menu {
        display: block;
    }

    #toggle-menu, #menu label.drop-icon {
        display: none;
    }

    #menu ul {
        text-align: right;
    }

    #menu li {
        display: inline-block;
        border-width: 0 1px 0 0;
        font-size: 1.2rem;
    }

    #menu > ul > li > img.icons-top {
        width: 13px;
        height: 13px;
        margin-right: 5px;
    }

    #menu > ul > li > a > img.icons-social-media {
        width: 15px;
        height: 15px;
    }
}

/* div > ul > li > img */
/* div#topnav-dropdown > ul > li.icons-top > img */
/* div.topnav.response > ul > li.icons-top > img */