html {
    font-family: 'Archivo', sans-serif;
    font-size: 12px; /* standaard font-size voor de hele htnml */
}

body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}


/* MOBILE VERSION */
#container {
    margin: 10px 15px;
}

/* first menu */
#menu-first {
    width: 100%;
    background-color: #EBD84C;
}

#menu-first > #menu-button {
    /* width: 100%; */
    background-color: #EBD84C;
    text-align: left;
    font-size: 2rem;
    padding: 2rem;
    cursor: pointer;
    color: white;
}

#menu-first > #menu-top {
    list-style-type: none;
    height: 0px;
    overflow: hidden;
    background-color: #EBD84C;
    margin: 0;
    font-size: 1.5rem;
    position: relative;
    top: 0;
}

#menu-first > #menu-top > li.icons-top {
    margin: 1.5rem 0;
}

#menu-first > #menu-top > li.icons-social-media {
    display: inline-block;
    margin: 1.5rem 0;
}

#menu-first > #menu-top img.icons-top, #menu-first > #menu-top img.icons-social-media {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
}
/* /first menu */

/* second menu */
#menu-second {
    width: 100%;
    background-color: #fff;
}

#menu-second > #menu-button2 {
    /* width: 100%; */
    background-color: #fff;
    text-align: left;
    font-size: 2rem;
    padding: 2rem;
    cursor: pointer;
    color: black;
}

#menu-second > #menu {
    list-style-type: none;
    height: 0px;
    overflow: hidden;
    background-color: #fff;
    margin: 0;
    font-size: 1.5rem;
    position: relative;
    top: 0;
}

/* #menu-second > #menu > li {
    margin: 1.5rem 0;
} */

#menu-second > #menu > li {
    /* display: inline-block; */
    margin: 1rem 0;
    width: 100%;
    height: 2.5em;
    /* margin-right: 5px; */
}

#menu > li > a {
    text-decoration: none;
    color: black;
}

/* dropdown */
/* .dropdown-content {
    height: 0px;
    display: none;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 15rem;
} */

/* .dropdown-content > li {
    width: 15rem;
} */

/* .dropdown-content > li:hover {
    display: block;
    background-color: lightgrey;
}

.dropdown-content > li > a {
    text-decoration: none;
    color: black;
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
} */

/* .dropdown > .dropbtn {
    width: 100%;
    background-color: #fff;
    text-align: left;
    font-size: 2rem;
    padding: 2rem;
    cursor: pointer;
    color: black;
} */
/* /dropdown */
/* /second menu */

.logo {
    width: 22rem;
    float: right;
    position: relative;
    top: 0.3rem;
    right: 4rem;
}

hr {
    border-top: 1px solid lightgrey;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

main {
    background-color: white;
    padding-bottom: 1rem;
}

main > img.slides {
    width: 100%;
}

main > div {
    width: 90%;
    margin: 1rem auto;
}

main img.icons {
    width: 3rem;
    height: auto;
    /* color: #545454; */
    margin-left: 3rem;
}

main h2 {
    display: inline-block;
    margin: 1rem;
    font-size: 3rem;
}

main p {
    font-size: 1.5rem;
    width: 90%;
    margin: 2rem auto;
}

main > #main-grid > div#proeflessen > p > button {
    height: auto;
    background-color: #F7C244;
    border: none;
    width: 100%;
    font-size: 2rem;
    padding: 1.5rem;
    margin: 2rem 0;
}

main > #main-grid > div#proefles > p > button:hover {
    cursor: pointer;
}

main > #main-grid > #video {
    width: 100%;
    height: 30em;
}

footer {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    border-top: 1px dashed lightgrey;
}


/* DESKTOP VERSION */
@media (min-width: 768px) {
    #container {
        margin: 0;
    }

    /* FIRST MENU */
    #menu-first {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    #menu-first > #menu-button {
        display: none;
    }

    #menu-first > #menu-top {
        text-align: right;
        font-size: 1.2rem;
        height: auto !important;
        right: 10%;
    }

    #menu-first > #menu-top > li.icons-top {
        position: relative;
        top: 0;
        right: 5em;
        margin: 1rem;
        display: flex;
        justify-content: space-around;
    }

    #menu-first > #menu-top > li.icons-social-media {
        margin: 1rem 0;

    }

    #menu-first > #menu-top > li.icons-top, #menu-first > #menu-top > li.icons-social-media {
        display: inline-block;
    }

    #menu-first > #menu-top img.icons-top, #menu-first > #menu-top img.icons-social-media {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0.4rem;
    }
    /* /FIRST MENU */



    /* SECOND MENU */
    #menu-second > #menu-button2 {
        display: none;
    }

    #menu-second {
        width: 80rem;
        height: 0;
        position: relative;
        bottom: 7.5rem;
        left: 45rem;
    }

    #menu-second > #menu {
        /* font-size: 1.2rem; */
        height: auto !important;
        display: inline-block;
        margin: 0;
        overflow: hidden;
    }

    /* #car-dropbtn {
        display: none;
    } */

    #menu-second > #menu > li {
        /* display: inline; */
        width: 13rem;
        margin: 0 10px;
        float: left;
        text-align: center;
        /* position: relative;
        bottom: 0;
        left: 510px; */
    }

    #menu-second > #menu > li > a {
        text-decoration: none;
        color: black;
        /* padding: 16px; */
        /* text-decoration: none; */
        font-size: 1.2rem;

        display: block;
        /* text-align: center; */
        padding: 16px 2px;
        width: 12.5rem;
        background-color: white;
    }

    #menu-second > #menu > li > a:hover {
        background-color: lightgray;
    }

    /* #menu-second > #menu > li > ul.dropdown-content > li {
        padding: 16px 5px;
        font-size: 0.9rem;
        width: 12rem;
    }

    #menu-second > #menu > li > ul.dropdown-content > li > a {
        text-decoration: none;
        color: black;
    } */

    /* dropdown */
    /* .dropdown-content {
        display: none;
        list-style-type: none;
        padding: 0;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .dropdown-content > li {
        width: 12rem;
        background-color: rgb(171, 171, 171);
    }

    .dropdown-content > li:hover {
        display: block;
        background-color: white;
    }

    .dropdown:hover > .dropdown-content {
        display: block;
    }

    .dropdown {
        position: relative;
    } */
    /* /dropdown */
    /* /SECOND MENU */



    #header {
        background-color: white;
        width: 100%;
        height: 12.5em;
        margin-top: 44px;
    }

    #header > .logo {
        width: 30rem;
        height: auto;
        padding: 20px 0;
        position: relative;
        top: 0;
        left: 200px;
        z-index: 1;
        float: left;
    }

    img.slide {
        width: 100%;
        height: auto;
        z-index: 0;
    }

    main h2 {
        display: inline-block;
        margin: 1rem;
        font-size: 2rem;
    }

    #main-grid {
        display: grid;
        grid-template-areas: "proefles locatie rijles"
                             "video video video";
        grid-template-rows: minmax(10px, auto);
        grid-template-columns: repeat(3, 1fr);
        width: 75%;
    }

    #proeflessen { grid-area: proefles; margin: 0 10px; }
    #locaties { grid-area: locatie; margin: 0 10px; }
    #rijlessen { grid-area: rijles; margin: 0 10px; }

    main > #main-grid > #video {
        grid-area: video;
        width: 100%;
        height: 60em;
    }

    /* div#main-grid > div#proefles, div#main-grid > div#locaties, div#main-grid > div#rijlessen {
        width: 25%;
        display: inline-block;
    } */
}